<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Consumables</key>
	<dict>
		<key>com.udelivered.rapidproof.100tokens</key>
		<dict>
			<key>Count</key>
			<integer>100</integer>
			<key>Name</key>
			<string>Proof Tokens</string>
		</dict>
		<key>com.udelivered.rapidproof.500tokens</key>
		<dict>
			<key>Count</key>
			<integer>500</integer>
			<key>Name</key>
			<string>Proof Tokens</string>
		</dict>
		<key>com.udelivered.rapidproof.1000tokens</key>
		<dict>
			<key>Count</key>
			<integer>1000</integer>
			<key>Name</key>
			<string>Proof Tokens</string>
		</dict>
	</dict>
	<key>Non-Consumables</key>
	<array/>
	<key>Subscriptions</key>
	<dict>
		<key>com.udelivered.rapidproof.1monthsub</key>
		<dict>
			<key>Count</key>
			<integer>1</integer>
			<key>Name</key>
			<string>RapidProof Subscription</string>
		</dict>
		<key>com.udelivered.rapidproof.6monthsub</key>
		<dict>
			<key>Count</key>
			<integer>6</integer>
			<key>Name</key>
			<string>RapidProof Subscription</string>
		</dict>
		<key>com.udelivered.rapidproof.12monthsub</key>
		<dict>
			<key>Count</key>
			<integer>12</integer>
			<key>Name</key>
			<string>RapidProof Subscription</string>
		</dict>
	</dict>
</dict>
</plist>
